/*
    Author: Kettle Team
    Last modified: 3/06/20
    Last modified by: Sam Lohbeck
*/

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Grid setup  */
.gridContainer {
    height: 100vh;
    /* Layout Properties */
    display: grid;
    grid:  6% 89% 5% / 15% 70% 15% ;

    grid-template-areas: 
    'header header header'
    'nav main section'
    'nav footer section';

}

/* Header CSS */
header {
    background-color: #F8F9FA;
    grid-area: header;
}
/* Nav CSS */
nav {
    background-color: #2873B0;
    grid-area: nav;
}
/* Main CSS */
main {
    grid-area: main;
}
/* Courses Section CSS */
section {
    background-color: #2873B0;
    grid-area: section;
}
/* Footer CSS */
footer {
    background-color: #F8F9FA;
    grid-area: footer;
}