/*
    Author: Kettle Team
    Last modified: 3/06/20
    Last modified by: Sam Lohbeck
*/

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Grid setup  */
.gridContainer {
    /* Layout Properties */
    display: grid;
    grid: 55px 970px 56px / 252px 1363px 305px;
    /* grid: 4.6em 80.8em 4.7em / 21em 113.6em 25.42em; */

    grid-template-areas: 
    'header header header'
    'nav main section'
    'nav footer section';

}

/* Header CSS */
header {
    background-color: #F8F9FA;
    grid-area: header;
}
/* Nav CSS */
nav {
    /* background-color: #2873B0; */
    background-color: brown;
    grid-area: nav;
}
/* Main CSS */
main {
    grid-area: main;
}
/* Courses Section CSS */
section {
    /* background-color: #2873B0; */
    background-color: #F8F9FA;
    grid-area: section;
}
/* Footer CSS */
footer {
    background-color: #F8F9FA;
    grid-area: footer;
}