h2 {
    color: #FFFFFF;
    font-size: 34px;
    text-align: center;
    text-decoration: none;

}

h3 {
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}

p {
    color: white;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

.first-course {
    background-image: url("../img/c.png");
    height: 211px;



}

.second-course {
    background-image: url("../img/python.jpg");
    height: 211px;


}

.third-course {
    background-image: url("../img/sql.jpg");
    height: 211px;


}

.fourth-course {
    background-image: url("../img/webdev.jpg");
    height: 211px; 
}