h2 {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
    text-decoration: none;

}

h3 {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.first-course {
    background-image: url("../img/c.png");
    height: 200px;


}

.second-course {
    background-image: url("../img/python.jpg");
    height: 200px;

}

.third-course {
    background-image: url("../img/sql.jpg");
    height: 200px;

}

.fourth-course {
    background-image: url("../img/webdev.jpg");
    height: 200px;
}